/* Grand Central Station */
// Imports
@import "normalize";
@import "lightgallery";
@import "lg-transitions";


body {
    background: white;
    font-family: sans-serif;
    font-family: 'Quicksand', sans-serif;}

h1 {
    font-family: 'Londrina Solid', cursive;}

#picon {
    width: 10%;}

// Portfolio Items
figure {
    background: salmon;
    padding: 1em;
    width: 300px;}

figure img {
    box-sizing: 2px 2px 2px grey;}