/* Grand Central Station */
// Imports
@import "normalize";
@import "lightgallery.min";
@import "lg-transitions.min";

main {
    background: white;
    font-family: sans-serif;
    font-family: 'Quicksand', sans-serif;
    width: 90%;
    margin: 0 auto;}

p {
    display: block;
    padding: 0 0 0 10px;
    max-width: 90%;}

h1 {
    font-family: 'Londrina Solid', cursive;
    padding: 6.5%;
    font-size: 5em;}

// Personal Icon
#picon {
    width: 20%;
    float: left;
    padding: 0 30px;}

// Thumbnails
.thumb {
    width: 30%;
    padding: 0 10px;}
.thumb:hover {
    opacity: .7;}

//Social Icons
.social {
    width: 10%;
}
.social:hover {
    opacity: .7;}

// Portfolio Items
figure {
    background: white;
    width: 100%;}

figure img {
    box-sizing: 2px 2px 2px grey;
    border-radius: 5px;
    margin: 10px 0;}

/* article {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
} */

.lg-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1040;
  background-color: #000;
  opacity: 0.5;
  -webkit-transition: opacity 0.15s ease 0s;
  -o-transition: opacity 0.15s ease 0s;
  transition: opacity 0.15s ease 0s; }

footer {
    width: 100%;
    margin: auto;
    
}

/* -------- MEDIA QUERIES -------- */
// Phone
@media (max-width:700px) {
  body {
    width: 90%;} 
  p{
    font-size: 1em;}
  h1 {
    font-size: 12vw;
    text-align: center;
    padding: 0;
    margin: 0;}
 #picon {
    width: 80%;
    max-width: 300px;
    display: block;
    margin: 0 auto;}
 .thumb {
    width: 40%;}
 .social {
    width: 80px;}
}